<div class="container-md module-container">
  <div class="row header-row">
    <div class="col-3 header-col-left navigator-style">
      Logo
    </div>
    <div class="col-9 header-col-right content-style">

    </div>
  </div>
  <div class="content-row">
    <div class="row content-row">
      <div class="col-3 content-col-left navigator-style">
        <div class="menu-container">
          <div class="menu-title">Menu</div>
          <div class="menu-buttons-container">
            <div class="menu-button">
              <p>Main Page</p>
            </div>
            <div class="menu-button">
              <p>List of Students</p>
            </div>
            <div class="menu-button">
              <p>Student Form</p>
            </div>
            <div class="menu-button">
              <p>Login Page</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9 content-col-right content-style">
        <div class="content-table-container">
          <div class="row content-table-title">
            Tytuł Tabeli
          </div>
          <div class="content-table-rows">
            <div class="row content-table-header">
              <div class="col-2">Id</div>
              <div class="col-3">First Name</div>
              <div class="col-3">Last Name</div>
              <div class="col-2">Year</div>
              <div class="col-2">
              </div>
            </div>
            <div class="row content-table-row">
              <div class="col-2">1</div>
              <div class="col-3">Marian</div>
              <div class="col-3">Mariański</div>
              <div class="col-2">3 rok</div>
              <div class="col-2">
                <button class="btn btn-danger w-100">Delete</button>
              </div>
            </div>
            <div class="row content-table-row">
              <div class="col-2">1</div>
              <div class="col-3">Marian</div>
              <div class="col-3">Mariański</div>
              <div class="col-2">3 rok</div>
              <div class="col-2">
                <button class="btn btn-danger w-100">Delete</button>
              </div>
            </div>
            <div class="row content-table-row">
              <div class="col-2">1</div>
              <div class="col-3">Marian</div>
              <div class="col-3">Mariański</div>
              <div class="col-2">3 rok</div>
              <div class="col-2">
                <button class="btn btn-danger w-100">Delete</button>
              </div>
            </div>
            <div class="row content-table-row">
              <div class="col-2">1</div>
              <div class="col-3">Marian</div>
              <div class="col-3">Mariański</div>
              <div class="col-2">3 rok</div>
              <div class="col-2">
                <button class="btn btn-danger w-100">Delete</button>
              </div>
            </div>
            <div class="row content-table-row">
              <div class="col-2">1</div>
              <div class="col-3">Marian</div>
              <div class="col-3">Mariański</div>
              <div class="col-2">3 rok</div>
              <div class="col-2"><button class="btn btn-danger w-100">Delete</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
